/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fff;
    text-shadow: none;
}

::selection {
    background: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000000;
    padding: 0.2em 0;
}

h1.title{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding-left: 5px;	
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: "Helvetica Neue", Helvetical, Arial, sans-serif;
	font-weight: 300;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #02AE7B;
	height: 100px;

}

.footer-container	{
	border-top: 10px solid #02AE7B;	
}
.main aside {
    border-top: 10px solid #FFF941;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;

}

.title {
    color: #04AE7B;
}

/* ==============
    MOBILE: Menu
   ============== */
   h1, h2, h3	{
			font-family:  'Josefin Sans', sans-serif;	
		}
   
   div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	header img, h1.title{
		float: left;
	}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px;
	text-align: center;
    text-decoration: none;
    font-weight: lighter;
    color: #5E5E5E;
    background: #fff;
}


nav a:hover	{
    color: #FFF;
	background: #02AE7B;
	text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
	margin-top: 50px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

nav.primary{
	margin-top: 110px;	
}

a	{
	color: black;
	text-decoration: none;	
}

a:hover	{
	color: #02AE7B;	
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

footer	{
		background-color: #fff;
		height: 90px;
	}
	
 footer	nav	{
		position: relative;
		top: -20px;
	}
 
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	   div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	h1, h2, h3	{
			font-family:  'Josefin Sans', sans-serif;	
		}
		
	header img, h1.title{
		float: left;
	}
	
	nav {
        float: right;
        width: 45%;
    }
	
	nav.primary	{
	z-index: 10;
	position: absolute;
	top: 50px;
	right: 0;
}

	nav.primary	{
	margin-top: 15px;
}

	nav.primary ul	{
	list-style: none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

	nav.primary ul li a  {
	display: block;
	color: black;
	text-decoration: none;
	font-weight: 100;
	font-size: 110%;
	width: 75px;
	text-align: center;
}

	nav.primary ul li  {
	text-align: center;
	color: #000000;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 75px;
}

	nav.primary ul li.current-menu-item  {
	color: #000000;
}

	nav.primary ul li:hover {
	background-color: #02AE7B;
	color: #fff;
}

	nav.primary ul ul
{
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	padding: 0;
	color: #000;
}

	nav.primary ul ul li {
	float: none;
	width: 30%;
	font-size: 100%;
}

	nav.primary ul ul a {
	padding: 5px;
	width: 30%;
	color: #fff;
}

	nav.primary ul li:hover > ul {
	display: block;
}

	nav.primary ul li a:hover, nav.primary ul li li a:hover	{
	color: #fff;		
}

	aside img	{
		margin-left: auto;
		margin-right: auto;
	}


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }
	
	nav ul li ul	{
		float: none;
		display: block;
	}	

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
		
	h1, h2, h3	{
		font-family:  'Josefin Sans', sans-serif;	
	}
    div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	header img, h1.title{
		float: left;
	}

    nav {
        float: right;
        width: 60%;
    }
	
	nav.primary	{
	z-index: 10;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #FFFFFF;
	margin-top:15px;
}

	nav.primary ul	{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

	nav.primary ul a  {
	display: block;
	color: black;
	text-decoration: none;
	font-weight: 100;
	font-size: 110%;
	text-align: center;
}

	nav.primary ul li  {
	color: #000000;
	position: relative;
	float: left;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: 75px;
	display: block;
	text-align: center;
}

	nav.primary ul li.current-menu-item  {
	color: #000000;
}

	nav.primary ul li:hover {
	background-color: #02AE7B;
	color: #fff;
}

	nav.primary ul ul
{
	display: none;
	position: absolute;
	bottom: 100%;
	right: 0;
	padding: 0;
	color: #000;
}

	nav.primary ul ul li {
	float:none;
	width: 75px;
}

	nav.primary ul ul a {
	padding: 5px;
	color: black;
	width: 75px;
}

	nav.primary ul li:hover > ul {
	display: block;
}

	nav.primary ul li a:hover, nav.primary ul li li a:hover	{
	color: #fff;	
	width: 75px;
	background-color: #02AE7B;
}

	
/* ============
    WIDE: Main
   ============ */

	.main-container h1, .main-container h2	{
		font-family: 'Josefin Sans', sans-serif;
	}
    section.main {
        float: left;
        width: 57%;
		margin-top: 0;
    }
	section.shop img	{
		float: left;
		width: 275px;	
	}

    .main aside {
        float: right;
        width: 28%;
		margin-top: 75px;
    }
	
	.main aside img	{
		text-align: center;	
		margin-left: 3%;
		margin-right: 3%;
	}
	footer	nav	{
		float: left;	
		position: relative;
		top: -20px;
	}
	
	footer	{
		background-color: #fff;
		height: 60px;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	   div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	header img, h1.title{
		float: left;
	}
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}