/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fff;
    text-shadow: none;
}

::selection {
    background: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000000;
    padding: 0.2em 0;
}

h1.title{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding-left: 5px;	
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: "Helvetica Neue", Helvetical, Arial, sans-serif;
	font-weight: 300;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #02AE7B;
	height: 100px;
	position: relative;

}

.footer-container	{
	border-top: 10px solid #02AE7B;	
}
.main aside {
    border-top: 10px solid #FFF941;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;

}

.title {
    color: #04AE7B;
}

/* ==============
    MOBILE: Menu
   ============== */
 h1, h2, h3	{
	font-family:  'Josefin Sans', sans-serif;	
		}
   
div.title {
	position: absolute;
	top: 5%;
	left: 5%;
	}
	
header img, h1.title{
	float: left;
	}
	
.primary_nav_wrap 	{
	margin-top: 110px;	
}

 nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px;
	text-align: center;
    text-decoration: none;
    font-weight: lighter;
    color: #5E5E5E;
    background: #fff;
}


nav a:hover	{
    color: #FFF;
	background: #02AE7B;
	text-decoration: none;
} 

/* ==============
    MOBILE: Main
   ============== */
div#blogmain	{
	margin-top: 70px;	
}
.main {
    padding: 30px 0;
	margin-top: 60px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

nav.primary{
	margin-top: 110px;	
}

a	{
	color: black;
	text-decoration: none;	
}

a:hover	{
	color: #02AE7B;	
}

section.shop{
	height: auto;
	width: 300px;
	text-align: center;
	margin: 30px auto 20px auto;
}

div.shop	{
	height: auto;
	width: 275px;
	background-color: #fff;
	font-size: 14px;
	margin: 30px auto 20px auto;
}
section.shop div.shop	{
	border: 5px solid #FEB845;
	cursor: pointer;
	height: 275px;
	margin: 10px;
	float: left;
	position: relative;
	overflow: hidden;
	width: 275px;
	-webkit-boxshadow: 1px 1px 1px 1px #823F3A;
	-moz-box-shadow: 1px 1px 1px 1px #823F3A;
	box-shadow: 1px 1px 1px 1px #823F3A;
}

section.shop div.shop img	{
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;	
}

section.shop div.shop .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #000;
	z-index: 90;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;
	bottom: 0;
	opacity: 0;
	width: 275px;
	height: 75px;
	text-align: left;
}

section.shop div.shop:hover .caption	{
	opacity: .9;
	background-color: #fff;
}

div.shop h3	{
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	text-align: left;
	width: 100%;
	margin-left: 10px;
	
}

div.shop h3 a	{
	text-decoration: none;
	color: #F87563;	
}
div.shop p	{
	margin-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 14px; 
	margin-top: -15px;	
}

aside h4	{
	color: #000;
	font-size: 120%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	border-bottom: 2px dotted #F87563;
	margin-bottom: 5px;	
}

aside h3	{
	color: #000;
	font-size: 150%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;	
}

aside ul	{
	list-style: none;
	margin: 0;
	line-height: 1.6em;
	padding-left: 0;
}

article h2	{
	border-bottom: 2px dotted #02AE7B;
	border-top: 2px dotted #02AE7B;	
	padding-top: 5px;
	padding-botton: 5px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

footer	{
		background-color: #fff;
		height: 90px;
	}
	
footer p	{
	clear: both;
	position: relative;
	bottom: 5px;
	color: #333;	
	font-size: small;
	text-align: center;
}
	
 footer	nav	{
		position: relative;
		top: -20px;
	}

footer div.social{
	text-align: center;
	margin-top: -10px;
}

footer div.social img	{
	padding: 5px;	
}
 
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	h1, h2, h3	{
			font-family:  'Josefin Sans', sans-serif;	
		}
		
	header img, h1.title{
		float: left;
	}
	
.main	{
	margin-top: 0px;	
}
	
.primary_nav_wrap{
	float: right;
	width: auto;	
	position: absolute;
	bottom: 0;
	right: 10%;
}

.primary_nav_wrap
{
	margin-top: 15px;
}

.primary_nav_wrap ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.primary_nav_wrap ul a
{
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	padding: 0 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.primary_nav_wrap ul li:hover, .primary_nav_wrap ul a:hover	{
	background: #02AE7B;
	color: #fff;
}

.primary_nav_wrap ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #02AE7B;
	color: #fff;
	padding: 0;
}

.primary_nav_wrap ul ul li
{
	float: none;
	width: 200px;
}

.primary_nav_wrap ul ul a
{
	line-height: 120%;
	padding: 10px 15px;
}

.primary_nav_wrap ul ul a:hover	{
	text-decoration: underline;	
}

.primary_nav_wrap ul ul ul
{
	top: 0;
	left: 100%;
}

.primary_nav_wrap ul li:hover > ul
{
	display: block;
}

aside img	{
	margin-left: auto;
	margin-right: auto;
}
	
section.shop{
	height: auto;
	width: 700px;
	text-align: center;
	margin: 30px auto 20px auto;
}

div.shop	{
	height: auto;
	width: 275px;
	background-color: #fff;
	font-size: 14px;
	margin: 30px auto 20px auto;
}
section.shop div.shop	{
	border: 5px solid #FEB845;
	cursor: pointer;
	height: 275px;
	margin: 10px;
	float: left;
	position: relative;
	overflow: hidden;
	width: 275px;
	-webkit-boxshadow: 1px 1px 1px 1px #823F3A;
	-moz-box-shadow: 1px 1px 1px 1px #823F3A;
	box-shadow: 1px 1px 1px 1px #823F3A;
}

section.shop div.shop img	{
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;	
}

section.shop div.shop .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #000;
	z-index: 90;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;
	bottom: 0;
	opacity: 0;
	width: 275px;
	height: 75px;
	text-align: left;
}

section.shop div.shop:hover .caption	{
	opacity: .9;
	background-color: #fff;
}

div.shop h3	{
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	text-align: left;
	width: 100%;
	margin-left: 10px;
	
}

div.shop h3 a	{
	text-decoration: none;
	color: #F87563;	
}
div.shop p	{
	margin-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 14px; 
	margin-top: -15px;	
}

	footer p	{
		text-align: left;
		left: 10px;
		bottom: 0;
	
	}

	footer div.social{
		float: right;
		margin-right: 20px;
		margin-top: -15px;	
	}
	
	footer	nav	{
		float: left;	
		position: relative;
		top: -20px;
	}
	
	footer nav ul li	{
		display: block;
		float: left;
		padding: 0px 10px;
	}



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }
	
	nav ul li ul	{
		float: none;
		display: block;
	}	

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
		
	h1, h2, h3	{
		font-family:  'Josefin Sans', sans-serif;	
	}
    div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	header img, h1.title{
		float: left;
	}
	
.primary_nav_wrap{
	float: right;
	width: auto;	
	position: absolute;
	bottom: 0;
	right: 10%;
}

.primary_nav_wrap
{
	margin-top: 15px;
}

.primary_nav_wrap ul
{
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.primary_nav_wrap ul a
{
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	padding: 0 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary_nav_wrap ul li
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.primary_nav_wrap ul li:hover, .primary_nav_wrap ul a:hover	{
	background: #02AE7B;
	color: #fff;
}

.primary_nav_wrap ul ul
{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #02AE7B;
	color: #fff;
	padding: 0;
}

.primary_nav_wrap ul ul li
{
	float: none;
	width: 200px;
}

.primary_nav_wrap ul ul a
{
	line-height: 120%;
	padding: 10px 15px;
}

.primary_nav_wrap ul ul a:hover	{
	text-decoration: underline;	
}

.primary_nav_wrap ul ul ul
{
	top: 0;
	left: 100%;
}

.primary_nav_wrap ul li:hover > ul
{
	display: block;
}

	
/* ============
    WIDE: Main
   ============ */

	.main-container h1, .main-container h2	{
		font-family: 'Josefin Sans', sans-serif;
	}
    section.main {
        float: left;
        width: 57%;
		margin-top: 0;
    }
	section.shop img	{
		float: left;
		width: 275px;	
	}

    .main aside {
        float: right;
        width: 28%;
		margin-top: 75px;
    }
	
	.main aside img	{
		text-align: center;	
		margin-left: 3%;
		margin-right: 3%;
	}
	
	
	footer	nav	{
		float: left;	
		position: relative;
		top: -20px;
	}
	
	footer nav ul li	{
		display: block;
		float: left;
		padding: 0px 10px;
	}
	
	footer div.social{
		float: right;
		margin-right: 20px;
		margin-top: -15px;	
	}
	
	footer	{
		background-color: #fff;
		height: 60px;
	}
	
/* Patterns */

section.shop{
	height: auto;
	width: 920px;
	text-align: center;
	margin: 30px auto 20px auto;
}

div.shop	{
	height: auto;
	width: 275px;
	background-color: #fff;
	font-size: 14px;
	margin: 30px auto 20px auto;
}

section.shop div.shop	{
	border: 5px solid #FEB845;
	cursor: pointer;
	height: 275px;
	margin: 10px;
	float: left;
	position: relative;
	overflow: hidden;
	width: 275px;
	-webkit-boxshadow: 1px 1px 1px 1px #823F3A;
	-moz-box-shadow: 1px 1px 1px 1px #823F3A;
	box-shadow: 1px 1px 1px 1px #823F3A;
}

section.shop div.shop img	{
	position: absolute;
	left: 0;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;	
}

section.shop div.shop .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #000;
	z-index: 90;
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;
	bottom: 0;
	opacity: 0;
	width: 275px;
	height: 75px;
	text-align: left;
}

section.shop div.shop:hover .caption	{
	opacity: .9;
	background-color: #fff;
}

div.shop h3	{
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	text-align: left;
	width: 100%;
	margin-left: 10px;
	
}

div.shop h3 a	{
	text-decoration: none;
	color: #F87563;	
}
div.shop p	{
	margin-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 14px; 
	margin-top: -15px;	
}
	
	
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	   div.title {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	
	header img, h1.title{
		float: left;
	}
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}